$base-line-height: 48px;
$white: #ff0000;
$off-white: rgba($white, 0.2);
/*$white: rgb(255,255,255);
$off-white: rgba($white, 0.2);*/
$spin-duration: 1s;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
    border-radius: 50%;
    width: $base-line-height;
    height: $base-line-height;
    border: .25rem solid $off-white;
    border-top-color: $white;
    animation: spin $spin-duration infinite linear;
}


body {
	/*background-image: url('../img/silver_scales.png');
	background-attachment: fixed;*/
	/*background: #e3eada;*/
}

button:focus {
	outline: none !important;
}

#loading {
	margin: auto;
}

.container {
	padding-left: 0;
	padding-right: 0;
}

.row {
	/*margin-right: 15px;
	margin-left: 15px;*/
	margin-right: 0px;
	margin-left: 0px;
}

.hidden {
	display: none;
}

.clear {
	clear: both !important;
}

.no-left-padding {
	padding-left: 0 !important;
}

.no-right-padding {
	padding-right: 0 !important;
}

.with-left-padding {
	padding-left: 15px !important;
}

.with-right-padding {
	padding-right: 15px !important;
}

.no_right_padding {
	padding-right: 0;
}

.game-stats {

	.stat-label, .stat-value {
		width: 40px;
		text-align: left;
	}

	.stat-label {
		font-weight: bold;
	}

	.stat-value {
		margin-left: 5px;
	}

	.col-md-1 {
		padding: 0;
		text-align: left;
	}
}

.leftcol, .rightcol, .centercol {
	padding: 0px;
}

.leftcol, .rightcol {
	margin-left: 0px;
	margin-right: 0px;
}

.centercol {
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 15px;
	padding-right: 15px;
}

.ajax-notice {
	display: none;
	margin-bottom: 10px;
	text-align: center;
}

.modal {
	position: absolute;
}

.modal-body {
	overflow-y: scroll;
	max-height: 500px;
}
.small {
	font-size: 12px;
}

.growl {
	opacity: 1.0;
	filter: alpha(opacity=100);
	min-width: 200px;
	min-height: 75px;
}

.growl.growl-error {
	background: #d9534f;
}

.growl.growl-notice {
	background: #5cb85c;
}

.growl.growl-warning {
	background: #f0ad4e;
}

.saved-notice{
	display: block;
	margin-top: 22px;
	text-align: right;
	font-weight: bold;
	color: #5cb85c;
}

.main-content-row {
	min-height: 200px;
}

.title-row button {
	margin-top: 15px;
}

.title-row .faq-notice {
	margin-top: 30px;
}

.header {
	margin-right: 0px;
	margin-left: 0px;
}

.header button {
	margin-top: 20px;
}

.content-area {
	margin-top: 10px;
}

.footer {
	font-size: 10px;
	font-style: italic;
	margin-top: 15px;
	margin-bottom: 15px;
}

.footer .footer-link {
	cursor: pointer;
}
