/* Start variable declaration area */

/* Loading spinner */
$loader-dimensions: 48px;
$loader-color: #016000;

/* Animation style */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* End variable declaration area */

/* General styles */
button:focus {
	outline: none !important;
}

.hidden {
	display: none;
}

.clear {
	clear: both !important;
}

.no-left-padding {
	padding-left: 0 !important;
}

.no-right-padding {
	padding-right: 0 !important;
}

.with-left-padding {
	padding-left: 15px !important;
}

.with-right-padding {
	padding-right: 15px !important;
}

.no_right_padding {
	padding-right: 0;
}

.small {
	font-size: 12px;
}

.strong {
	font-weight: bold;
}

.em {
	font-style: italic;
}

.white-gradient-with-left-transparency {
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 7%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 7%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 7%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.white-gradient-with-bottom-transparency {
	background: -moz-linear-gradient(bottom,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* End general styles */

/* Header styles */
.header-area {

	.game-stat-row {

		.stat-label, .stat-value {
			width: 40px;
			text-align: left;
		}

		.stat-label {
			font-weight: bold;
		}

		.stat-value {
			margin-left: 5px;
		}

	}

	.title-row {
	
		button {
			margin-top: 20px;
		}

		.faq-notice {
			margin-top: 30px;
		}

		.saved-notice{
			display: block;
			margin-top: 22px;
			text-align: right;
			font-weight: bold;
			color: #5cb85c;
		}

	}

}
/* End header styles */

/* Body styles */
.body-area {

	.loading {
	    border-radius: 50%;
	    width: $loader-dimensions;
	    height: $loader-dimensions;
	    border: .25rem solid rgba($loader-color, 0.2);
	    border-top-color: $loader-color;
	    animation: spin 1s infinite linear;
	    margin: auto;
	}

	.onecol-row {

		#fullscreen-content {

			min-height: 400px;

			.newgame-content {

				.buttons {
					width: 205px;
					margin: auto;
				}

			}

			.intro-content {

				.intro-text-paragraph {
					margin-bottom: 10px;
				}

				#intro-s1-buttons button,
				#intro-s2-buttons button {
					float: right;
				}

				#intro-s2-buttons button {
					margin-right: 15px;
				}

				#intro-s1-buttons,
				#intro-s2-buttons {
					margin-top: 10px;
				}

				.leader {

					float: left;
					width: 200px;
					height: 310px;
					border: 10px #ffffff solid;
					padding: 5px;

					&:hover{
						border: 10px #016000 solid;
						cursor: pointer;
					}

					&:active{
						border: 10px #258224 solid;
						cursor: pointer;
					}

					&.selected{
						border: 10px #016000 solid;
					}

				}

				.new-game-map-container {
					width: 360px;
					height: 240px;
					margin-left: auto;
					margin-right: auto;
				}

				.map-rendering {

					float: left;
					/*margin: 0 10px 10px 10px;*/
					border: 10px #ffffff solid;

					&:hover{
						border: 10px #016000 solid;
						cursor: pointer;
					}

					&:active{
						border: 10px #258224 solid;
						cursor: pointer;
					}

					&.selected{
						border: 10px #016000 solid;
					}

					.map-row {

						margin: 0;

						.map-cell {
							
							float: left;
							margin: 0;

							&.sm {
								width: 2px;
								height: 2px;	
							}

							&.md {
								width: 4px;
								height: 4px;	
							}

							&.lg {
								width: 8px;
								height: 8px;	
							}

						}

					}

				}

			}

		}

	}

	.threecol-row {
		min-height: 200px;
	}

}
/* End body styles */

/* Footer styles */
.footer-area {
	font-size: 10px;
	font-style: italic;
	margin-top: 15px;
	margin-bottom: 15px;

	.footer-link {
		cursor: pointer;
	}
}
/* End footer styles */

/* Modal styles */
.modal {
	position: absolute;
}

.modal-body {
	overflow-y: scroll;
	max-height: 500px;
}
/* End modal styles */


/* Unused/leftover/reference styles */
/*
.growl {
	opacity: 1.0;
	filter: alpha(opacity=100);
	min-width: 200px;
	min-height: 75px;
}

.growl.growl-error {
	background: #d9534f;
}

.growl.growl-notice {
	background: #5cb85c;
}

.growl.growl-warning {
	background: #f0ad4e;
}
*/