/* Start variable declaration area */
/* Loading spinner */
/* Animation style */
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/* End variable declaration area */
/* General styles */
button:focus {
  outline: none !important; }

.hidden {
  display: none; }

.clear {
  clear: both !important; }

.no-left-padding {
  padding-left: 0 !important; }

.no-right-padding {
  padding-right: 0 !important; }

.with-left-padding {
  padding-left: 15px !important; }

.with-right-padding {
  padding-right: 15px !important; }

.no_right_padding {
  padding-right: 0; }

.small {
  font-size: 12px; }

.white-gradient-with-left-transparency {
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 7%, white 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 7%, white 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 7%, white 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

.white-gradient-with-bottom-transparency {
  background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, white 25%, white 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, white 25%, white 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, white 25%, white 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

/* End general styles */
/* Header styles */
.header-area .game-stat-row .stat-label, .header-area .game-stat-row .stat-value {
  width: 40px;
  text-align: left; }
.header-area .game-stat-row .stat-label {
  font-weight: bold; }
.header-area .game-stat-row .stat-value {
  margin-left: 5px; }
.header-area .title-row button {
  margin-top: 20px; }
.header-area .title-row .faq-notice {
  margin-top: 30px; }
.header-area .title-row .saved-notice {
  display: block;
  margin-top: 22px;
  text-align: right;
  font-weight: bold;
  color: #5cb85c; }

/* End header styles */
/* Body styles */
.body-area .loading {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  border: 0.25rem solid rgba(255, 0, 0, 0.2);
  border-top-color: #ff0000;
  animation: spin 1s infinite linear;
  margin: auto; }
.body-area .onecol-row #fullscreen-content {
  min-height: 400px; }
  .body-area .onecol-row #fullscreen-content .newgame-content .buttons {
    width: 205px;
    margin: auto; }
  .body-area .onecol-row #fullscreen-content .intro-content .intro-text-paragraph {
    margin-bottom: 10px; }
  .body-area .onecol-row #fullscreen-content .intro-content #intro-s1-buttons button,
  .body-area .onecol-row #fullscreen-content .intro-content #intro-s2-buttons button {
    float: right; }
  .body-area .onecol-row #fullscreen-content .map-rendering .map-row {
    margin: 0; }
    .body-area .onecol-row #fullscreen-content .map-rendering .map-row .map-cell {
      float: left;
      margin: 0; }
      .body-area .onecol-row #fullscreen-content .map-rendering .map-row .map-cell.sm {
        width: 2px;
        height: 2px; }
      .body-area .onecol-row #fullscreen-content .map-rendering .map-row .map-cell.md {
        width: 4px;
        height: 4px; }
      .body-area .onecol-row #fullscreen-content .map-rendering .map-row .map-cell.lg {
        width: 8px;
        height: 8px; }
.body-area .threecol-row {
  min-height: 200px; }

/* End body styles */
/* Footer styles */
.footer-area {
  font-size: 10px;
  font-style: italic;
  margin-top: 15px;
  margin-bottom: 15px; }
  .footer-area .footer-link {
    cursor: pointer; }

/* End footer styles */
/* Modal styles */
.modal {
  position: absolute; }

.modal-body {
  overflow-y: scroll;
  max-height: 500px; }

/* End modal styles */
/* Unused/leftover/reference styles */
/*
.growl {
	opacity: 1.0;
	filter: alpha(opacity=100);
	min-width: 200px;
	min-height: 75px;
}

.growl.growl-error {
	background: #d9534f;
}

.growl.growl-notice {
	background: #5cb85c;
}

.growl.growl-warning {
	background: #f0ad4e;
}
*/

/*# sourceMappingURL=custom.css.map */
